.card{
    max-width: 300px;
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2rem;
}

.card img{
    max-width: 200px;
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}