.active{
    background-color: yellow;
    margin: 3rem;
    padding: 4rem;
    border: '5px solid green';
}

.card{
    width: 100px;
    height: 100px;
    background-color: coral;
    font-size: 4rem;
}