.container{
    background-color: skyblue;
    width: 500px;
    height: 300px;
    
    
}

h1{
    position: absolute;
    bottom: 0;
    right: 0;
}

p{
    background-color: coral;
    position: absolute;
   
}

span{
    position: absolute;
    bottom: 0;
}

h2{
    background-color: chartreuse;
    position: fixed;
}