div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.green{
    width: 600px;
    height: 600px;
    background-color: green;
}

.pink{
    width: 400px;
    height: 400px;
    background-color: pink;
}

.blue{
    width: 200px;
    height: 200px;
    background-color: skyblue;
}