@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Oswald:wght@200..700&family=Preahvihear&display=swap');


@font-face{
    font-family:'God-of-war';
    src: url('fonts/GODOFWAR.TTF');
}

h1{
    font-size: 60px;
    color: green;
    text-align: center;
    font-family: 'God-of-war';
}

p{
    font-size: 20px;
}