.card{
    height: 100px;
    width: 100px;
    background-color: coral;
    border: 1px solid black;
    font-size: 4rem;
}

.container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

button{
    background-color: green;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 80px;
    height: 80px;
}

.active{
    background-color: red;

}