* {
  box-sizing: border-box;
}

h1 {
  background-color: coral;
  width: 300px;
  height: 200px;
  padding: 50px;

  /*  border-top: 10px solid black;
    border-left: 10px dotted pink;
    border-bottom: 20px dashed red; */
  /* border: 20px;
    border-style: solid;
    border-color: red; */

  border: 20px solid green;
  margin: 50px 30px 40px 20px;
}

h2 {
  
  background-color: yellow;
  width: 300px;
  height: 200px;
  padding: 50px;
  border: 10px solid red;
  margin: 30px;
}

span {
  background-color: pink;
  width: 300px;
  height: 200px;
  padding: 50px;
  margin: 40px;
  display: inline-block;
}

b{
  background-color:green;
  height: 300px;
  width: 200px;
  padding: 50px;
  margin: 30px;
}
